:root {
  --primary-black: #212224;
  --primary-yellow: #FFD400;
  font-size: 14px;
}

.top-banner {
  background-color: var(--primary-yellow);
  
}
.sticky-banner {
  object-fit: contain;
  height: 48px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
