.section-header section {
  display: flex;
  gap: 20px;
  padding-top: 16px;
  justify-content: center;
}

.section-header .search {
  width: 460px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid var(--primary-black);
  padding-left: 18px;
  padding-right: 18px;
  display: flex;
  align-items: center;
  margin-right: 20px;
  transition: 0.3s;
}
.section-header .search:hover {
  background-color: rgb(242, 243, 247);
  border-color: rgb(48, 52, 65);
}
.section-header .search-info {
  display: none;
}

.section-header input {
  border: none;
  height: 38px;
  width: 460px;
}

.section-header .item {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-header .item a {
  text-align: center;
  font-weight: 600;
}

.section-header .all-category {
  width: 120px;
  cursor: pointer;
  font-weight: 800;
  text-align: center;
}
.section-header .sub-category {
  display: flex;
  transition: 0.4s;
}
.sub-category-item {
  cursor: pointer;
  padding: 10px;
}

#signup {
  background-color: var(--primary-yellow);
  border-radius: 6px;
  width: 80px;
  height: 40px;
  line-height: 40px;
  font-weight: 800;
  transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s;
}

#signup:hover {
  background-color: rgb(245, 193, 38);
}

#signup:active {
  background-color: rgb(184, 138, 3);
}

.section-category {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.section-category .box {
  background-color: #fafafc;
  border-radius: 16px;
  padding: 16px;
}

.section-category .sub-items {
  display: flex;
  justify-content: space-evenly;
  gap: 16px;
}
.section-category .sub-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  cursor: pointer;
}

.section-category img {
  width: 48px;
}
