.section-title {
  font-size: 32px;
  font-weight: 800;
  margin: 24px 0;
}

.section-text {
  font-weight: 500;
  line-height: 1.4;
}

.section-content {
  width: 1200px;
  margin-bottom: 50px;
}

.col {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* section-header */
.section-header section {
  display: flex;
  gap: 20px;
  padding-top: 16px;
  justify-content: center;
}

.section-header .search {
  width: 460px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid var(--primary-black);
  padding-left: 18px;
  padding-right: 18px;
  display: flex;
  align-items: center;
  margin-right: 20px;
  transition: 0.3s;
}
.section-header .search:hover {
  background-color: rgb(242, 243, 247);
  border-color: rgb(48, 52, 65);
}
.section-header .search-info {
  display: none;
}

.section-header input {
  border: none;
  height: 38px;
  width: 460px;
}

.section-header .item {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-header .item a {
  text-align: center;
  font-weight: 600;
}

.section-header .all-category {
  width: 120px;
  cursor: pointer;
  font-weight: 800;
  text-align: center;
}
.section-header .sub-category {
  display: flex;
  transition: 0.4s;
}
.sub-category-item {
  cursor: pointer;
  padding: 10px;
}

#signup {
  background-color: var(--primary-yellow);
  border-radius: 6px;
  width: 80px;
  height: 40px;
  line-height: 40px;
  font-weight: 800;
  transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s;
}

#signup:hover {
  background-color: rgb(245, 193, 38);
}

#signup:active {
  background-color: rgb(184, 138, 3);
}
/* section-slider */
.section-slider {
  width: 100%;
  margin-top: 40px;
}

/* section-category */
.section-category {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.section-category .box {
  background-color: #fafafc;
  border-radius: 16px;
  padding: 16px;
}

.section-category .sub-items {
  display: flex;
  justify-content: space-evenly;
  gap: 16px;
}
.section-category .sub-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  cursor: pointer;
}

.section-category img {
  width: 48px;
}
/* section-service */
.section-service {
  margin-top: 48px;
  margin-bottom: 48px;
  /* height: 400px; */
}
.section-service .tab-list {
  display: flex;
  gap: 8px;
}

.section-service .btn{
  width: auto;
  padding: 8px 12px;
  border-radius: 90px;
}
.section-service .contents-area {
  margin: 24px 0;
  display: flex;
  justify-content: space-between;
  display: none;
}
.section-service .tab-list .active {
  background-color: var(--primary-black);
  color: #FFF;
  transition: 0.3s;
}
.section-service .tab-content .active {
  display: flex;
}

.section-service .tab-content img{
  width: 200px;
  border-radius: 8px;
  background-color: var(--hover-gray);
}
.section-service .tab-content .item {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.section-service .tab-content .item div {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 8px;
}
.section-service .tab-content .item p {
  font-size: 16px;
  font-weight: 800;
  text-align: right;
}
.section-service .tab-content .item span {
  font-size: 13px;
  font-weight: 600;
  text-align: right;
  color: var(--font-gray);
}

/* section-teaser */
.section-teaser {
  width: 100%;
  height: 700px;
  background-color: var(--hover-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-teaser .list {
  display: flex;
  width: 1200px;
  justify-content: space-between;
}

.list .box {
  width: 300px;
  background-color: #fff;
  border-radius: 8px;
  padding: 24px 32px;
  box-shadow: 0px 0px 20px 5px rgba(48, 52, 65, 0);
  position: relative;
}

.box .title {
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 8px;
}

.box .text {
  font-weight: 500;
  line-height: 20px;
}

.box .number {
  position: absolute;
  top: 12px;
  right: 24px;
  font-size: 24px;
  font-weight: 600;
  font-stretch: expanded;
}

/* section-review */
.section-review {
  width: 100%;
  height: 600px;
  background-color: var(--primary-yellow);
  display: flex;
  justify-content: center;
  text-align: center;
}

.box-list {
  margin-top: 24px;
}

.section-review .text {
  display: flex;
}

.gray-text {
  font-size: 18px;
  font-weight: 500;
  color: var(--font-gray);
}

.name {
  font-weight: 800;
  margin-top: 12px;
}

.sub-name {
  color: var(--font-gray);
  margin-top: 12px;
}

/* section-blog */
.section-blog {
  width: 100%;
  height: 700px;
  background-color: var(--hover-gray);
  display: flex;
  justify-content: center;
  text-align: center;
}

.section-blog img {
  width: 360px;
  border-radius: 12px;
  box-shadow: 0px 0px 20px 5px rgba(48, 52, 65, 0);
  cursor: pointer;
  transition: 0.3s;
}

.section-blog img:hover {
  scale: 1.02;
}

.section-blog .text {
  text-align: left;
}

.section-blog .btn {
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #c8cad2;
  width: 220px;
  padding: 20px;
  font-weight: 800;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.section-blog .btn:hover {
  background-color: var(--hover-gray);
  transition: 0.3s;
}

.section-blog .btn:active {
  background-color: var(--active-gray);
}

/* section-ranking */
.section-ranking {
  height: 700px;
  margin-bottom: 60px;
  margin-top: 60px;
}

.section-ranking .section-content {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.section-ranking .section-content .box {
  border-radius: 8px;
  border: 2px solid #ffd400;
  margin-bottom: 12px;
}

.section-ranking .section-content h2{
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  background-color: var(--primary-yellow);
  padding: 12px 0;
}
.section-ranking .category {
  width: 30%;
}

.section-ranking .section-content .item {
  display: flex;
  justify-content: center;
  align-items:flex-start;
  padding: 24px 24px 24px 12px;
}

.section-ranking .section-content img {
  width: 60px;
  border-radius: 90px;
}

.section-ranking .section-content .text-area {
  width: 60%;
}

.section-ranking .rest-list {
  border-radius: 8px;
  box-shadow: rgba(48, 52, 65, 0.08) 0px 5px 23px -2px;
}

.section-ranking .rest-list .separate-line {
  width: calc(100% - 48px);
  margin: 0px auto;
  border-bottom: 1px solid var(--active-gray);
}